@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.land{
    color: #fff;
    background-color: #194350;
}

.top{
    margin-top: 15px;
}

.top .topContent{
    width: 800px;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.top .topContent h2{
    font-size: 3rem;
    color: #9dbeb9;
    margin-bottom: 2px;
    font-family: 'Karantina', cursive;
}

.top .topContent h1{
    font-size: 5rem;
    color: #fff;
    font-family: 'Staatliches', cursive;
   
}

.top .topContent hr{
    margin-left: 0;
    width: 60%;
    height: 2px;
    border-width: 0;
    background-color: #9dbeb9;
}

.top .topImg{
    position: relative;
    height: 360px;
    width: 840px;
    overflow: hidden;
    margin-left: 50%;
    transform: translateX(-50%);
    outline: 6px solid #fff;
    outline-offset: 6px;
    border-radius: 30px;
    box-shadow: 20px 20px 8px rgba(0,0,0,0.5);
}

.topImg .bg{
    position: absolute;
    z-index: -1;
    transition: 1s ease-out;
    min-height: 100%;
    max-width: 100%;
}

.top .topImg:hover .bg{
    transform: scale(1.2);
    filter: blur(2px);
}

.topImg .detail{
    opacity: 0;
    height: 360px;
    width: 840px;
    transition: 0.5s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
}

.top .topImg:hover .detail{
    opacity: 1;
}

.topImg .detail .poster{
    height: 260px;
    width: 190px;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: 0.5s ease-out;
    transform: translateX(-10%);
}

.top .topImg:hover .detail .poster{
    transform: translateX(0);    
}

.topImg .detail .card{
    margin-left: 80px;
    height: 280px;
    width: 450px;
}

.review{
    width: 800px;
    margin-left: 50%;
    margin-top: 50px;
    padding: 20px 50px;
    transform: translateX(-50%);
    background-color: rgb(17, 44, 53);
    box-shadow: 20px 20px 8px rgba(0,0,0,0.5);
    outline: 2px solid #9dbeb9;
    outline-offset: -20px;
}
